@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.about {
  height: 50rem;
  display: flex;
  flex-direction: column;
  color: #403737;
}

.about h1 {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.bio {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: 'Lustria', serif;
  font-size: 2rem;
  text-align: justify;
  padding: 2rem;
}

.bio img {
  height: 35vh;
  width: auto;
}

.bio p {
  padding-right: 3rem;
}

.tech {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: 'Lustria', serif;
}

.tech ul {
  list-style: none;
  padding-left: 0;
}

.tech h2 {
  font-family: 'Lato', sans-serif;
}
