@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.about {
  height: 100vh;
  display: flex;
  flex-direction: row;
  color: #403737;
  padding: 8rem 5rem 8rem 5rem;
  /* align-items: center; */
}

.about h1 {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 3rem;
}

.bio {
  display: flex;
  flex-direction: column;
  font-family: 'Lustria', serif;
  font-size: 2rem;
  text-align: justify;
  padding-right: 5rem;
}

.bio img {
  height: 45vh;
  width: auto;
}

.tech {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: 'Lustria', serif;
  font-size: 1.5rem;
}

.tech ul {
  list-style: none;
  padding-left: 0;
}

.tech h2 {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
}
