@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 15px 15px -15px gray;
  height: 8em;
  padding: 1em;
}

.bk_logo img {
  height: 8em;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 35em;
  font-size: 3em;
  font-family: 'Lato', sans-serif;
}

.menu a {
  text-decoration: none;
  color: #403737;
}

.menu a:hover,
a:active {
  text-decoration: underline;
}
