html {
  font-size: 75%;
}

body {
  background-color: #ebe6e4;
}

#root {
  min-height: 100vh;
  min-width: 100vw;
  font-size: 1em;
  padding-top: 5vh;
}

main {
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
}
